* {
    margin: 5px;
    padding: 10px;
    background-color: bisque;
}


body {
    border: solid 8px;
}

.contenedor {
    position: relative;
    left: 300px;
    margin-top: 106px;
    max-width: 950px;
}  

.contenedor .autor {
    font-size: 18px;
    margin-bottom: 40px;
}

.contenedor .titular {
    font-size: 32px;
    margin-bottom: 32px;
}

.contenedor .parrafos {
    font-size: 18px;
    margin-bottom: 27px;
}

.contenedor .enlace {
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
    margin-right: -16px;
}